.MainChat
  .MainChat__group-info
    .MainChat__group-info__current-group
      .MainChat__group-info__current-group__name
        test
      .MainChat__group-info__current-group__member-list
        %ul Member :
        .MainChat__group-info__current-group__member-list__member
          %li taro jiro
    .MainChat__group-info__edit
      = link_to "#", class:"MainChat__btn" do
        Edit
  .MainChat__message-list
    .MainChat__message-list__info
      .MainChat__message-list__info__name
        taro
      .MainChat__message-list__info__date
        2020/08/14
    .MainChat__message-list__message
      Hello
    .MainChat__message-list__info
      .MainChat__message-list__info__name
        jiro
      .MainChat__message-list__info__date
        2020/08/14
    .MainChat__message-list__message
      world
  %form.MainChat__message-form
    .MainChat__message-form__contents
      %input.MainChat__message-form__contents__input-text{type: "text", placeholder: "type a message"}
      %label.MainChat__message-form__contents__label
        = icon('fas', 'image')
        %input.MainChat__message-form__contents__label__file{type: "file"}
    %input.MainChat__message-form__submit-btn{type: "submit", value: "Send"}