* {
  box-sizing: border-box;
}
.wrapper{
  display: flex;
}

.SideBar {
    width: 300px;
    &__user-name{
      background-color: #253141;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__top-items{
        width: 260px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        &__name{
          color: #ffffff;
          font-size: 16px;
          font-weight: bold;
        }
        &__icons{
          display: flex;
          justify-content: flex-end;
          width: 60px;
          &__icon{
            margin-right: 5px;
          }
        }
      }
    }
    &__group-list{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      color: #ffffff;
      font-weight: bold;
      &__group{
        color: #fafafa;
        &__name{
          font-size: 15px;
          padding: 20px 20px 5px 20px;
        }
       &__new-message{
          font-size: 11px;
          padding: 0 20px 40px 20px;
        }
      }
    }
  }
.SideBar__btn, .SideBar__groups{
  color: #ffffff;
  text-decoration: none;
}
  
.MainChat {
    width: calc(100vw - 300px);
    &__group-info{
      background-color: #ffffff;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__current-group{
        margin-left: 40px;
        &__name{
          color: #333333;
          margin: 35px 0 15px 0;
          font-size: 20px;
        }
        &__member-list{
          color: #999999;
          font-size: 12px;
          display: flex;
          &__member{
            list-style: none;
            padding-left: 4px;
            display: flex;
            li{
              margin-right: 4px;
            }
          }
        }
      }
      &__edit{
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        text-align: center;
        border: 1px solid #38aef0;
        margin: 28px 40px;
      }
    }
    &__message-list{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 0 0 40px;
      overflow: scroll;
      &__info{
        display: flex;
        margin-bottom: 12px;
        &__name{
          color: #333333;
          font-size: 16px;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 46px;
      }
    }
    &__message-form{
      background-color: #d2d2d2;
      height: 90px;
      display: flex;
      align-items: center;
      &__contents{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        &__input-text{
          height: 50px;
          width: 100%;
          margin-left: 40px;
          padding: 0 40px 0 10px;
          border: none;
        }
        &__label{
          position: absolute;
          right: 10px;
          height: 50px;
          display: flex;
          align-items: center;
          &__file{
            width: 0;
          }
        }
      }  
      &__submit-btn{
        background-color: #38aef0;
        color: #fff;
        font-size: 16px;
        height: 50px;
        padding: 0 30px;
        margin: 0 40px 0 15px;
        border: none;
      }
    }
  }
.MainChat__btn{
  color: #38aef0;
  text-decoration: none;
  padding: 12px 20px;
}